.stretchChildrenWidth .quantitySelectorContainer--seletor-quantidade {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

.quantitySelectorStepper--seletor-quantidade {
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}
